* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('/static/images/loginregistercar.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}


.wrapper {
    width: 420px;
    background: white;
    color: black;
    border-radius: 10px;
    padding: 30px 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid black;
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px;
}

.input-box input::placeholder {
    color: black;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    background: linear-gradient(135deg, #9d9d9d, #ffffff); /* Gradient for icons */
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}



.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: black;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background-image: url('/static/images/mustang_big.gif');
    background-size: cover;
    background-position: center;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 16px;
    color: white; 
    font-weight: 700;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

/* Эффект при наведении */
.wrapper .btn:hover {
    opacity: 0.9;
    transform: scale(1.05);
}

/* Эффект нажатия */
.wrapper .btn:active {
    transform: scale(0.98);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}



.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a:hover {
    text-decoration: underline;
}